@using HwoodiwissHelper.Core
@using HwoodiwissHelper.Core.Extensions
@using HwoodiwissHelper.Core.Features.GitHub
@using HwoodiwissHelper.UI.Features.GitHubForkCleaner.HttpClients
@using HwoodiwissHelper.UI.Features.GitHubForkCleaner.Models
@inject GitHubClient GitHubClient
@inject IJSRuntime JsRuntime

<h3>GitHubForkList</h3>

<p>Hey @User?.Login.</p>

@if (Forks is not null)
{
    @foreach (var fork in Forks!)
    {
        <div class="row">
            <div class="col-1">
                <input type="checkbox" value="@fork.Id"/>
            </div>
            <p class="col-3">@fork.FullName</p>
        </div>
    }
}
else
{
    <h2>Loading fork list...</h2>
}

@code {
    private User? User { get; set; }
    private Repository[]? Forks { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var setUserResult = await GitHubClient.GetUserInfo()
            .ThenAsync<User, User, GitHubError>(result => User = result)
            .ThenAsync<User, Repository[], GitHubError>(async user => await GitHubClient.GetUserForks(user.Login))
            .ThenAsync<Repository[], Unit, GitHubError>(repos =>
            {
                Forks = repos;
                return Unit.Instance;
            });

        if (setUserResult is Result<Unit, GitHubError>.Failure { Error: GitHubError.Unauthorized })
        {
            await JsRuntime.InvokeVoidAsync("clear_github_token");
        }
    }
}
