<div class="top-row ps-3 navbar">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="">HwoodiwissHelper</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-section-label">General</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-section-label">Tools</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="encoding">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Encoding
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="cryptography">
                <span class="bi bi-shield-lock-nav-menu" aria-hidden="true"></span> Cryptography
            </NavLink>
        </div>

        <div class="nav-section-label">Games</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="games/phase10">
                <span class="bi bi-card-list-nav-menu" aria-hidden="true"></span> Phase 10
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
