@page "/fork-cleaner"
@using HwoodiwissHelper.UI.Features.GitHubForkCleaner.Authentication
@using HwoodiwissHelper.UI.Features.GitHubForkCleaner.Components
@inject GitHubAuthentication GitHubAuthentication
@inject ILogger<GitHubForkCleaner> Logger

<PageTitle>Fork Cleaner</PageTitle>

<h1>Fork Cleaner</h1>

<p>Tired of having repo forks gather dust?</p>

@if (_isAuthenticated)
{
    <GitHubForkList />
}
else
{
    <div class="row">
        <a @onclick="@GitHubAuthentication.RedirectToLogin">
            <button>Login With GitHub</button>
        </a>
    </div>
}

@code {
    private bool _isAuthenticated;
    
    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await GitHubAuthentication.IsAuthenticated();
        
        Log.LogGitHubAuthenticationState(Logger, _isAuthenticated);
        
        await base.OnInitializedAsync();
    }
}
