@page "/cryptography"
@using System.Security.Cryptography

<PageTitle>Cryptography</PageTitle>

<h1>Cryptography</h1>

<p><i>Cryptography is the practice and study of techniques for secure communication in the presence of adversarial behavior</i></p>

<h2>Cryptographically Random String</h2>

<div>
    <label for="bytes-length">Byte Length</label>
    <input id="bytes-length-txt" type="number" min="10" max="4096" @oninput="OnBytesLengthChanged" @bind="_bytesLengthText" />
    <input id="bytes-length" type="range" min="10" max="4096" @oninput="OnBytesLengthChanged" @bind="_bytesLengthSlider" />
</div>
<div>
    <label for="base64-encoded">Random Bytes (b64)</label>
    <textarea readonly id="base64-encoded" class="form-control" @bind="_randomString"></textarea>
</div>

@code {
    private int _bytesLengthText = 512;
    private int _bytesLengthSlider = 512;
    private string _randomString = GetNSecureBytes(512);

    private void OnBytesLengthChanged(ChangeEventArgs args)
    {
        if (args is not { Value: string valueString } || !int.TryParse(valueString, out var value))
        {
            return;
        }

        _bytesLengthSlider = value;
        _bytesLengthText = value;
        _randomString = GetNSecureBytes(value);
    }

    private static string GetNSecureBytes(int bytes)
    {
        var buffer = new byte[bytes];
        RandomNumberGenerator.Fill(buffer);
        return Convert.ToBase64String(buffer);
    }
}
