@page "/fork-cleaner"
@using System.Web;
@inject NavigationManager NavManager;

<PageTitle>Fork Cleaner</PageTitle>

<h1>Fork Cleaner</h1>

@if (false)
{

}
else
{
    <div class="row">
        <button @onclick="NavigateToLogin">Login With GitHub</button>        
    </div>
}

@code {

    private void NavigateToLogin()
    {
        var authorizeQs = HttpUtility.ParseQueryString(string.Empty);
        authorizeQs.Add("client_id", "");
        authorizeQs.Add("redirect_uri", "http://localhost:5238?pageLink=fork-cleaner");
        var authorizeUrl = new UriBuilder("https://github.com/login/oauth/authorize");
        authorizeUrl.Query = authorizeQs.ToString();

        NavManager.NavigateTo(authorizeUrl.ToString());
    }
}
